.header {
  background: var(--fungi);
  padding: 1rem;
  position: relative;
  z-index: 2000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  color: var(--rust);
  font-weight: bold;
  letter-spacing: -0.01em;
  transition-duration: 0.4s;
}
.title:hover {
  color: var(--forest);
}

.navRight {
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger {
  font-size: 2rem;
  background: var(--rust);
  border: 1px solid var(--forest);
  padding: 5px 15px;
  border-radius: .25rem;
  transition-duration: 0.4s;
  color: var(--fungi);
}
.hamburger:hover {
  background: var(--daisy);
  color: var(--rust);
  border: 1px solid var(--rust);
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 150%;
  right: 0;
  padding: 2rem;
  background-color: var(--fungi);
  min-width: 280px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

/* LINKS */
.navlink {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  transition-duration: 0.4s;
  color: var(--forest);
}

.navlink:hover {
color: var(--rust);
}

.welcome {
  font-size: 1.5rem;
  color: var(--rust);
}
