:root {
  --rust: #C1752F;
  --fungi: #feffe0; 
  --daisy: #efff81;
  --lime: #cdff00;
  --moss: #649d00;
  --forest: #213a00;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: lora;
  background-color: var(--fungi);
  color: var(--forest);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  letter-spacing: -0.03em;
}

* {
  box-sizing: border-box;
}

button {
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.15s ease;
  font-family: lora;
  color: var(--fungi);
  background-color: var(--moss);
  border-radius: 0.2rem;
  border: 1px solid var(--forest);
  padding: 0.25rem 1rem;
}
button:is(:hover, :focus, :active) {
  color: var(--forest);
  background-color: var(--lime);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--fungi);
    background: var(--forest);
  }


}
