:root {
  --forest: #1D4036;
  --rust: #C1752F;
  --daisy: #F1CD5E;
  --moss: #B8C99E;
  --sky: #B8CEEA;
  --lavendar: #A694C2;
  --fungi: #F0E9D4; 
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: lora;
  background-color: var(--fungi);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
