.main {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--moss);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: var(--forest);
  text-align: center;
}

.tagline {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--moss);
  font-weight: 500;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-wrap: wrap;
  color: var(--forest);
  background-color: var(--daisy);
  text-decoration: none;
  border: 1px solid var(--forest);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 12rem;
}

.acctCard {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-wrap: wrap;
  color: var(--forest);
  background-color: var(--daisy);
  text-decoration: none;
  border: 1px solid var(--forest);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 12rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: var(--moss);
}

.link:hover {
  color: var(--forest);
}

.form > * {
  margin-bottom: 10px;
}

.form > button {
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.15s ease;
  font-family: lora;
  color: var(--fungi);
  background-color: var(--moss);
  border-radius: 0.2rem;
  border: 1px solid var(--forest);
  padding: 0.25rem 1rem;
}
.form>button:is(:hover, :focus, :active) {
  color: var(--forest);
  background-color: var(--lime);
}

.card:is(:hover, :focus, :active) {
  border-color: var(--forest);
  background-color: var(--lime);
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/** SEARCH PAGE **/
.searchContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.plantActionBlock {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchForm > input {
  margin: 1rem 0.5rem;

}

.searchForm > button {
  margin: 1rem 0.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .title,
  .main {
    color: var(--fungi);
  }
  
  .card,
  .footer {
    border-color: var(--sky);
    color: var(--sky);
  }
  .code {
    background: var(--sky);
  }
  .logo img {
    filter: invert(1);
  }
}
